<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="UsersFile" value="users.xml"/>
      <add key="AnswersFile" value="answers.xml"/>
      <add key="QuestionsFile" value="questions.xml"/>
      <add key="TestsFile" value="tests.xml"/>
      <add key="CategoriesFile" value="categories.xml"/>
      <add key="GroupsFile" value="groups.xml"/>
      <add key="ResultsFile" value="results.xml"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>